.savannah-background {
    width: 100%;
    height: 100vh;
    background: no-repeat center center;
}

.savannah-wrapper {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}

.savannah {
    max-width: 1320px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
