.zoom-enter {
  transform: scale(0.9);
  opacity: 0;
}
.zoom-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
}
.zoom-exit {
  transform: scale(1);
  opacity: 1;
}
.zoom-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.sprint-wrap {
  padding: 30px 0;

  background: rgba(0, 0, 0, 1);
  background-size: cover;
  background-position: center;
  position: relative;
}
.sprint-start-menu {
  position: relative;
}
.sprint-inner {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.sprint-wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
