.game-answer {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  max-width: 270px;
  text-align: left;
  position: relative;
  padding: 20px;
  color: #fff;
  transition: all 0.15s ease;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game-answer:hover {
  background: hsla(0,0%,100%,.1);
  border-radius: 7px;
}

.game-answer.right-answer {
  background: hsla(120,100%,50%,0.3);
  border-radius: 7px;
}

.game-answer.wrong-answer {
  background: hsla(0,0%,100%,.3);
  border-radius: 7px;
}

.game-question, .game-question-wrapper {
  position: absolute;
  text-align: center;
  top: 70px;
  right: 0;
  left: 0;
  margin: auto;
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  max-width: 400px;
  padding: 20px 15px 20px 30px;
  color: #fff;
  transition: all 0.15s ease;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game-question.active {
  animation: fail 7s linear 1 normal running 0s none;
}

@keyframes fail {
  0% {
    top: 70px;
    transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    top: 300px;
    transform: scale3d(1, 1, 1);
  }
}

.hide-question-wrapper-enter {
  opacity:0;
  transition: 1s;
}
.hide-question-wrapper-active {
  opacity:1;
  transition: 1s;
}
