.slide-enter {
  transform: translateX(100%);
  opacity: 0;
}
.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
}
.slide-exit {
  transform: translateX(0%);
  opacity: 1;
}
.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.sprint,
.sprint * {
  box-sizing: border-box;
}
.sprint {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sprint__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 470px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 0.3s ease-in-out;
}
.sprint__wrap--correct {
  box-shadow: 0px 6px 17px 4px rgba(8, 208, 40, 0.2);
}
.sprint__wrap--wrong {
  box-shadow: 0px 6px 17px 4px rgba(236, 12, 12, 0.2);
}
.sprint__button:not(last-child) {
  margin-right: 10px;
}
.sprint__score {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
}
.sprint__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.sprint__word {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 110%;
  margin-bottom: 10px;
}
.sprint__translation {
  text-transform: lowercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  margin-bottom: 20px;
}
.sprint__timer {
  margin: 15px 0;
}
.animation-wrap {
  position: relative;
}
.animation-wrap-vertical {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.streak {
  padding: 10px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  border-radius: inherit;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px;
}
.streak-01 {
  background-color: rgb(240, 236, 3);
}
.streak-02 {
  background-color: rgb(235, 141, 0);
}
.streak-03 {
  background-color: rgb(235, 16, 0);
}
.streak__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.streak__unit {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: #ccc;
  position: relative;
}
.streak__unit:after {
  border-radius: inherit;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  transform: scale(0);
  background-color: #ff5370;
  transition: transform 0.3s ease-in-out;
}
.streak__unit--active:after {
  transform: scale(1);
}
