.slide-vertical-enter {
  transform: translateY(100%);
  opacity: 0;
}
.slide-vertical-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
}
.slide-vertical-exit {
  top: 0;
  position: absolute;
  transform: translateY(0%);
  opacity: 1;
}
.slide-vertical-exit-active {
  top: 0;
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
