.startMenuWrapper {
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 13px;
}

.note {
  max-width: 565px;
  margin: 0 auto 58px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.startButton {
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  padding: 19px 15px 21px;
  text-decoration: none;
  min-width: 162px;
  border-radius: 4px;
  transition: all 0.15s ease;
  border: none;
}
