.audioCallBackground {
  width: 100%;
  min-height: 85vh;
  background: no-repeat center center;
}

.audioCallWrapper {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 85vh;
  position: relative;
  padding: 0 2px;
}

.audioCall {
  max-width: 1320px;
  height: 100%;
  margin: auto;
  display: block;
  padding-top: 10px;
}
