.gameQuestion, .gameQuestionWrapper {
    position: absolute;
    text-align: center;
    top: 70px;
    right: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    max-width: 400px;
    padding: 20px 15px 20px 30px;
    color: #fff;
    transition: all 0.15s ease;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameQuestion.active {
    animation: fail 7s linear 1 normal running 0s none;
}

@keyframes fail {
    0% {
        top: 70px;
        transform: scale3d(1.5, 1.5, 1.5);
    }
    100% {
        top: 300px;
        transform: scale3d(1, 1, 1);
    }
}

.hideQuestionWrapperEnter {
    opacity:0;
    transition: 1s;
}

.hideQuestionWrapperActive {
    opacity:1;
    transition: 1s;
}
